<div class="main-feedback">
    <h1>Feedback</h1><br>
    <div class="mid">
        <form action="/">
            <label for="fname">Name:</label><br>
            <input type="text" id="name" name="name"placeholder="Name"><br><br>
            <label for="lname">Message:</label><br>
            <textarea type="text" id="lname" name="lname"placeholder="Message..."></textarea><br><br>
            <input type="submit" value="Submit" class="btn">
          </form>
    </div>
</div>
<div class="foot">
<p>G.R.Kabilan</p>
</div>
