.main-feedback{
    margin: 0;
    padding: 15px;
    background-color:#f2f2f2;
    display: flex;
    color: #00b8d4;
    font-family: sans-serif;
}
h1{
    color: black;
}
.btn{
    color: #ff7043;
    font-weight: 600;
    background: black;
    border: none;
    font-size: large;
    border-radius: 0.5em;
    padding: 5px;
}
.mid{
    display: flex;
    padding-top: 100px;
    
    justify-content: center;
}
.foot{
    margin: 0;
    display: flex;
    background-color: gray;
    text-align: right;
}
div p{
    position: relative;
    left: 75%;
}
