<div>
    <h1>Lorem ipsum dolor </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam consectetur labore ex, et eius dolore explicabo officiis necessitatibus nobis totam molestias dolores eveniet. Iure libero quos ipsum rerum asperiores perspiciatis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae ipsum dolorem alias maiores odio vero natus, voluptatem aspernatur sunt pariatur minus amet aliquam fugiat corporis animi ullam nobis dolorum facilis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit eveniet vitae laudantium aut quas tenetur, ea cumque hic perspiciatis culpa! Ea, dolor nobis corrupti cumque dolorum odit dicta maiores modi.</p>
</div>
<app-feedback></app-feedback>