<div class="main">
   <div>
      <h1>Homeend works!</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam deserunt ullam dolorem corporis veritatis, cum mollitia, adipisci reiciendis nobis rem quos! Quod voluptates adipisci illo eius cumque iste incidunt cupiditate. Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde nam mollitia officiis aliquam accusamus itaque enim nesciunt eos minus dignissimos magni veritatis, illum exercitationem quia voluptas esse saepe? Cumque, quia? Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum consequatur, ullam beatae animi provident distinctio aliquid, eveniet in enim nihil quisquam accusantium quam esse libero harum optio iure labore ut! Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere odit quisquam vero sint impedit maiores illo consectetur earum soluta nam, molestiae reprehenderit dolor, tenetur tempora quas dicta fugiat excepturi voluptate.</p>
   </div> 
   <div>
      <img src="./assets/book.jpg" alt="book">
   </div>
</div>
<app-feedback></app-feedback>