<div class="main">
    <div class="box1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga ad quaerat reiciendis libero nihil totam aut sint, pariatur, eum omnis exercitationem! Fuga explicabo neque quam id minus iure consequuntur voluptatem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, fugit, nemo, ipsam suscipit nihil ullam excepturi quos temporibus aliquam reiciendis dignissimos illum commodi saepe molestias. Tenetur, quae doloribus. A, doloremque. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate laborum officiis in inventore dolore vitae molestiae ut quas culpa sit officia magni reiciendis accusamus odio quia repellendus, eveniet tempora! Omnis?</div>
    <div class="box"><p>How This Works?</p></div>
    <div class="box"><p>How To Add Students?</p></div>
    <div class="box"><p>How To Create Test?</p></div>
    <div class="box"><p>How To Write test?</p></div>
</div>
<app-homeend></app-homeend>